body {
    font-family: Arial, sans-serif;
    background-color: #f4f8fb;
    color: #333;
    margin: 0;
    padding: 0;
    text-align: center;
}
/* Navegación */
nav {
    text-align: center;
    margin: 20px 0;
}

/* Botones del menú */
.boton {
    display: inline-block;
    background-color: #0077cc;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    font-weight: bold;
}

.boton:hover {
    background-color: #005fa3;
}